img {
  max-width: 100%;
  height: auto;
  display: block; 
}

body {
  background-color: #3f3e3e;
  color: #ffffff;
  font-family: 'Fira Code', monospace;
}


a {
  color: #0371df; /* blue */
}

a:visited {
  color: #33CC33; /* green */
}

a:hover {
  color: #cef32b; /* darker blue */
}